.gamesComments {
  height: 90vh;
  width: 80vw;
}

.firstInfo {
  width: 50vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: flex-start;
}

.gamePicture {
  height: 60vh;
  width: 80vw;
  display: flex;
  justify-content: space-between;
}

.coverArt {
  margin: 10px;
  height: 50vh;
}

.gameBox {
  display: flex;
}

h1 {
  font-size: 60px;
  color: springgreen;
  text-shadow: 2px 2px 4px black;
  font-family: "Architects Daughter", cursive;
}

h2 {
  font-family: "Press Start 2P", cursive;
  font-size: 30px;
  color: springgreen;
  text-shadow: 2px 2px 4px #000000;
}

.gameInfo {
  display: flex;
  width: 50vw;
  font-size: 18px;
  background-color: rgba(14, 12, 4, 0.164);
  color: aliceblue;
  text-shadow: 2px 2px 4px #000000;
}

p {
  margin-left: 5px;
  font-family: Bangers, cursive;
}
